<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body >
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>

    <h3 class="tituloSec">Tu carrito esta vacio :(</h3>

    <div><img class="imagenCarrito"src="/images/carrito_vacio_copia.jpg"></div>

    <a href="/listadoProductos"><h3 class="tituloSec">Selecciona algún producto acá :)</h3></a>

    </main>

 
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>