<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link de css-->
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
    <!-- <link rel="stylesheet" href="css/styleshome.css"> -->
   

    <!--Favicon-->
    <link rel="icon" href="/images/WASD Favicon.png">
    <!--Tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--Titulo Pestaña-->
    <title>WASD</title>
</head>
<body>
   <header>
        <nav class="nav">
            <div class="nav_contenedor">
                <a href="/"><img src="/images/Logo.png" alt="Logo" class="img_logo"></a>
                <h1 class="nav_logo">WASD TECHNOLOGY</h1>
                <label for="menu" class="nav_label">
                    <i class="fas fa-bars fa-2x" style="color: white"></i>
                </label>
                <input type="checkbox" id="menu" class="nav_input">
                <div class="nav_menu">
                    <a href="carrito_de_compras" class="nav_items">Tienda<i class="fas fa-shopping-cart"></i></a>
                    <a href="login" class="nav_items">Login</a>
                    <a href="Registro" class="nav_items">Registro</a>
                    <a href="contacto" class="nav_items">Contacto</a>
                    <a href="/producto" class="nav_items">Productos</a>
                    <a href="buscar" class="nav_items"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <!--------------------------------------------------------------login-------------------------------------------------------------------------------------------------------------->
    <main>
        <div class="cajaLogin">
            <form action="/registro" method="POST">
            
                <div class="cajaImgUsuario">
                    <img id= "imgUsuario">
                </div>
                <!-------------------------------------------------iniciar secion--------------------------------------------------------------------------------------------------->
                <div class="cajaIniciarSecion">
                    <H1 id="IniciarSecion">Iniciar Secion</H1>
                </div> 
                 <!-------------------------------------------------Usuario--------------------------------------------------------------------------------------------------->
                <div class="cajaUser">
                    <div id="fa-solid01" class="fa-solid fa-user"></div>
                    <label id="IniciarUser"   for="nombre"><div id="fa-solid" class="fa-solid fa-user"></div> Usuario</label>
                    <input  type="text" name="nombre" id="nombre">
                </div>
                 <!-------------------------------------------------Contraseña-------------------------------------------------------------------------------------------------->
                <div class="cajaPasswor">
                    <div id="fa-solido01" class="fa-solid fa-lock"></div>
                    <label  id="IniciarUser"   for="Clave"> <div id="fa-solido" class="fa-solid fa-lock"></div> Clave</label>
                    <input  type="password" name="Clave" id="Clave">
                </div>
                 <!-------------------------------------------------Botones--------------------------------------------------------------------------------------------------->
                <div class="cajaIniciar">
                    <p>
                         <button type="submit">Iniciar Secion</button>
                    </p>
                    <p>
                         <button type="reset">Borrar</button>
                    </p>
                </div>
            </form>

        </div>
    </main> 
    <!------------------------------------------------------------------------footer------------------------------------------------------------------------------------------------->
    <footer>
        <div>
            <div class="footerEncabezado" >
                <A class="footerWasd" href="/views/home.html">WASD</A>
            </div>
            <div class="footerPie">
               
                <img id="footerLogo" src="/images/WASD Logo.png" alt="logo">
                <div class="footerEnlaces">
                   <div id="footerContacto"> <a href="Contacto"><i  class="fa-solid fa-envelope" ></i> <a href="Contacto" id="footerTelefono">Contacto</a></div></a>
                   <div class="divTel">    <a href="telefono"> <i class="fa-solid fa-phone"></i> </a>   <a href="telefono" id="footerTelefono">Telefono</a></div>
                   <div id="footerFacebook"><a href="https://www.facebook.com" ></a> <i href="https://www.facebook.com" class="fa-brands fa-facebook"></i><a href="https://www.facebook.com" id="footerTelefono"> Facebook</a></div></a>
                   <div id="footerTwitter"> <a href="https://twitter.com"></a> <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com" id="footerTelefono"> Twitter</a></div></a>
                   <div id="footerSteam">   <a href="https://store.steampowered.com"></a> <i class="fa-brands fa-steam"></i>   <a href="https://store.steampowered.com" id="footerTelefono"> Steam</a></div></a>
                   <div id="footerDiscor">  <a href="https://discord.com/channels/967398240465076304/977699998189887488"></a> <i class="fa-brands fa-discord"></i> <a href="https://discord.com/channels/967398240465076304/977699998189887488" id="footerTelefono"> Discor</a></div></a>
                </div>
            </div>
        </div>
        <div class="legales">
            <p>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia commodi provident, eos nemo sed eum aut </p>
        </div>
    </footer>
</body>
</html>