<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>

      
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css\normalize.css">
    <link rel="stylesheet" href="css\stylesProductDetail.css">
</head>
<body>
    <header>
      
    </header>

    <main>

        <h2 class="tituloSec">Detalle del producto</h2>

        <div class="todoProducto">

            <div class="encabezadoProducto">

                <div class="imagenProducto">
                    <img src="imagenes/ps5.jpg">
                </div>
                
                    <ul class="carruselImg">
                        <li><a href="url">1</a></li>
                        <li><a href="url">2</a></li>
                        <li><a href="url">3</a></li>
                        <li><a href="url">4</a></li>

                    </ul>
                
                <div class="comboCarritoPrecio">    
                    <div class="botonCarrito">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="precioProducto">
                        <h3> $ 000.000,00</h3>
                    </div>
                </div>

            </div>

           

                <div class = "variablesProductos">
                    <div>
                    <span class=" subtitulo">
                        Calificación:
                    </span>
                    <span class="calificacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Nombre del producto:
                        </span>
                        <span class="infoDetalle">
                            Playstation 5
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Unidades disponibles:
                        </span>
                        <span class="infoDetalle">
                            50
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Fabricante:
                        </span>
                        <span class="infoDetalle">
                            SONY
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Pais de origen:
                        </span>
                        <span class="infoDetalle">
                            Japón
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Dimensiones:
                        </span>
                        <span class="infoDetalle">
                           39 cm x 10.4 cm x 26 cm
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Peso:
                        </span>
                        <span class="infoDetalle">
                           4,5 Kg
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Modelo:
                        </span>
                        <span class="infoDetalle">
                           2021
                        </span>    
                    </div>
                        


                    
                
            </div>

            <div class="descripcion">
                <h3 class="subtituloMain">Funcionalidades</h3>
                <ul class="listaDesc"> 
                <li><p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum ad, distinctio non praesentium illum quasi suscipit. In ipsam repudiandae molestias, deserunt, nihil eos esse officia illo tempora eius quo.</p></li>
                <li><p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum ad, distinctio non praesentium illum quasi suscipit. In ipsam repudiandae molestias, deserunt, nihil eos esse officia illo tempora eius quo.</p></li>
                <li><p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum ad, distinctio non praesentium illum quasi suscipit. In ipsam repudiandae molestias, deserunt, nihil eos esse officia illo tempora eius quo.</p></li>
               
                </ul>
            </div>

        </div>

        <h2 class="tituloSec">Reseñas de este producto</h2>


        <div class="resenas">

            
            <div class="encabezadoResenas">

                <div class="logoUSer">
                     <i class="far fa-user"></i>
                </div>
                <h3 class="subtituloMain"> userX</h3>
                <div class="calificacion">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
 
                 </div>
                 <div>
                 <p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas dolorem repellat sequi aspernatur fugit vel provident consequuntur cum pariatur quasi delectus, adipisci vitae nostrum dolores, voluptate quae veniam velit.</p>
                </div>
 
 
             </div>

            <div class="encabezadoResenas">

                <div class="logoUSer">
                     <i class="far fa-user"></i>
                </div>
                <h3 class="subtituloMain"> userX</h3>
                <div class="calificacion">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
 
                 </div>
                 <div>
                 <p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas dolorem repellat sequi aspernatur fugit vel provident consequuntur cum pariatur quasi delectus, adipisci vitae nostrum dolores, voluptate quae veniam velit.</p>
                </div>
 
 
             </div>

             <div class="encabezadoResenas">

                <div class="logoUSer">
                     <i class="far fa-user"></i>
                </div>
                <h3 class="subtituloMain"> userX</h3>
                <div class="calificacion">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
 
                 </div>
                 <div>
                 <p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas dolorem repellat sequi aspernatur fugit vel provident consequuntur cum pariatur quasi delectus, adipisci vitae nostrum dolores, voluptate quae veniam velit.</p>
                </div>
 
 
             </div>

      

        </div>

        <h2 class="tituloSec">Productos relacionados</h2>

        <div class = "productosRelacionados">

            <div class="encabezadoProductoSec">

                <div class="imagenProducto">
                    <img src="imagenes/ps5.jpg">
                </div>

                <div class="nombreProdSec">

                    <h4>Playstation 5</h4>

                </div>
                               
                <div class="comboCarritoPrecioSec">    
                    <div class="botonCarritoSec">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="precioProductoSec">
                        <h3> $ 000.000,00</h3>
                    </div>
                </div>
            </div>

            <div class="encabezadoProductoSec">

                <div class="imagenProducto">
                    <img src="imagenes/Control_PS5.jpg">
                </div>

                <div class="nombreProdSec">

                    <h4>Control PS5</h4>

                </div>
                               
                <div class="comboCarritoPrecioSec">    
                    <div class="botonCarritoSec">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="precioProductoSec">
                        <h3> $ 000.000,00</h3>
                    </div>
                </div>
            </div>

            <div class="encabezadoProductoSec">

                <div class="imagenProducto">
                    <img src="imagenes/farcry6_PS5.jpg">
                </div>

                <div class="nombreProdSec">

                    <h4>Far cry 6 Gold Edition PS5</h4>

                </div>
                               
                <div class="comboCarritoPrecioSec">    
                    <div class="botonCarritoSec">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="precioProductoSec">
                        <h3> $ 000.000,00</h3>
                    </div>
                </div>
            </div>

            <div class="encabezadoProductoSec">

                <div class="imagenProducto">
                    <img src="imagenes/cameraHd_PS5.png">
                </div>

                <div class="nombreProdSec">

                    <h4>Camara HD PS5</h4>

                </div>
                               
                <div class="comboCarritoPrecioSec">    
                    <div class="botonCarritoSec">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="precioProductoSec">
                        <h3> $ 000.000,00</h3>
                    </div>
                </div>
            </div>



        </div>

        
       
    
    </main>
            <footer>

               





                

            </footer>


        

  


</body>
</html>