<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WASD</title>

      
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css\normalize.css">
    <link rel="stylesheet" href="css\stylesProductDetail.css">
    <link rel="stylesheet" href="css\stylesHome.css">
    <link rel="stylesheet" href="css\stylesLogin.css">
    
</head>
<body>
    <header>


                <nav class="nav">
                    <div class="nav_contenedor">
                        <a href="/"><img src="images/Logo.png" alt="Logo" class="img_logo"></a>
                        <h1 class="nav_logo">WASD TECHNOLOGY</h1>
                        <label for="menu" class="nav_label">
                            <i class="fas fa-bars fa-2x" style="color: white"></i>
                        </label>
                        <input type="checkbox" id="menu" class="nav_input">
                        <div class="nav_menu">
                            <a href="carrito_de_compras" class="nav_items">Tienda<i class="fas fa-shopping-cart"></i></a>
                            <a href="login" class="nav_items">Login</a>
                            <a href="Registro" class="nav_items">Registro</a>
                            <a href="contacto" class="nav_items">Contacto</a>
                            <a href="/producto" class="nav_items">Productos</a>
                            <a href="buscar" class="nav_items"><i class="fas fa-search"></i></a>
                        </div>
                    </div>
                </nav>
           

      
    </header>

    <main>

        <h2 class="tituloSec">Detalle del producto</h2>

        <div class="todoProducto">

            <div class="encabezadoProducto">

                
                <img class="imagenProducto" src="images/ps5.jpg">
                
                
                <ul class="carruselImg">
                    <li><a href="url">1</a></li>
                    <li><a href="url">2</a></li>
                    <li><a href="url">3</a></li>
                    <li><a href="url">4</a></li>

                </ul>
                
                <div class="comboCarritoPrecio">    
                    
                    <i class="fas fa-shopping-cart botonCarrito"></i>
                   
                    <h3 class="precioProducto"> $ 000.000,00</h3>
                    
                </div>

            </div>

           
            <div class = "variablesProductos">
                    <div>
                    <span class=" subtitulo">
                        Calificación:
                    </span>
                    <span class="calificacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Nombre del producto:
                        </span>
                        <span class="infoDetalle">
                            Playstation 5
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Unidades disponibles:
                        </span>
                        <span class="infoDetalle">
                            50
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Fabricante:
                        </span>
                        <span class="infoDetalle">
                            SONY
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Pais de origen:
                        </span>
                        <span class="infoDetalle">
                            Japón
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Dimensiones:
                        </span>
                        <span class="infoDetalle">
                           39 cm x 10.4 cm x 26 cm
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Peso:
                        </span>
                        <span class="infoDetalle">
                           4,5 Kg
                        </span>    
                    </div>

                    <div>
                        <span class=" subtitulo">
                            Modelo:
                        </span>
                        <span class="infoDetalle">
                           2021
                        </span>    
                    </div>
                        


                    
                
            </div>

            <div class="descripcion">
                <h3 class="subtituloMain">Funcionalidades</h3>
                <ul class="listaDesc"> 
                <li><p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum ad, distinctio non praesentium illum quasi suscipit. In ipsam repudiandae molestias, deserunt, nihil eos esse officia illo tempora eius quo.</p></li>
                <li><p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum ad, distinctio non praesentium illum quasi suscipit. In ipsam repudiandae molestias, deserunt, nihil eos esse officia illo tempora eius quo.</p></li>
                <li><p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum ad, distinctio non praesentium illum quasi suscipit. In ipsam repudiandae molestias, deserunt, nihil eos esse officia illo tempora eius quo.</p></li>
               
                </ul>
            </div>

        </div>

        <h2 class="tituloSec">Reseñas de este producto</h2>


        <div class="resenas">

            
            <div class="encabezadoResenas">

                <div class="logoUSer">
                     <i class="far fa-user"></i>
                </div>
                <h3 class="subtituloMain"> userX</h3>
                <div class="calificacion">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
 
                 </div>
                 <div>
                 <p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas dolorem repellat sequi aspernatur fugit vel provident consequuntur cum pariatur quasi delectus, adipisci vitae nostrum dolores, voluptate quae veniam velit.</p>
                </div>
 
 
             </div>

            <div class="encabezadoResenas">

                <div class="logoUSer">
                     <i class="far fa-user"></i>
                </div>
                <h3 class="subtituloMain"> userX</h3>
                <div class="calificacion">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
 
                 </div>
                 <div>
                 <p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas dolorem repellat sequi aspernatur fugit vel provident consequuntur cum pariatur quasi delectus, adipisci vitae nostrum dolores, voluptate quae veniam velit.</p>
                </div>
 
 
             </div>

             <div class="encabezadoResenas">

                <div class="logoUSer">
                     <i class="far fa-user"></i>
                </div>
                <h3 class="subtituloMain"> userX</h3>
                <div class="calificacion">
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
 
                 </div>
                 <div>
                 <p class="infoDetalle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas dolorem repellat sequi aspernatur fugit vel provident consequuntur cum pariatur quasi delectus, adipisci vitae nostrum dolores, voluptate quae veniam velit.</p>
                </div>
 
 
             </div>

      

        </div>

        <h2 class="tituloSec">Productos relacionados</h2>

        <div class = "productosRelacionados">

            <div class="encabezadoProductoSec">

                
                <img class="imagenProducto" src="images/ps5.jpg">
                

                <h4 class="nombreProdSec">Playstation 5</h4>                
                               
                <div class="comboCarritoPrecioSec">    
                    
                    <i class="fas fa-shopping-cart botonCarritoSec"></i>
                    
                    <h4 class="precioProductoSec"> $ 000.000,00</h4>
                </div>
            </div>

            <div class="encabezadoProductoSec">
                
                <img class="imagenProducto" src="images/Control_PS5.jpg">
                

                <h4 class="nombreProdSec">Control PS5</h4>                
                               
                <div class="comboCarritoPrecioSec">    
                    
                    <i class="fas fa-shopping-cart botonCarritoSec"></i>
                    
                    <h4 class="precioProductoSec"> $ 000.000,00</h4>
                </div>
            </div>

            <div class="encabezadoProductoSec">
                
                <img class="imagenProducto" src="images/farcry6_PS5.jpg">
                

                <h4 class="nombreProdSec">Far Cry 6 PS5</h4>                
                               
                <div class="comboCarritoPrecioSec">    
                    
                    <i class="fas fa-shopping-cart botonCarritoSec"></i>
                    
                    <h4 class="precioProductoSec"> $ 000.000,00</h4>
                </div>
            </div>

            <div class="encabezadoProductoSec">
                
                <img class="imagenProducto" src="images/cameraHd_PS5.png">
                

                <h4 class="nombreProdSec">Camara HD PS5</h4>                
                               
                <div class="comboCarritoPrecioSec">    
                    
                    <i class="fas fa-shopping-cart botonCarritoSec"></i>
                    
                    <h4 class="precioProductoSec"> $ 000.000,00</h4>
                </div>
            </div>

            



        </div>

        
       
    
    </main>
    <footer>
        <div>
            <div class="footerEncavezado" >
                <A class="footerWasd" href="/views/home.html">WASD</A>
            </div>
            <div class="footerPie">
               
                <img id="footerLogo" src="/images/Logo.png" alt="logo">
                <div class="footerEnlaces">
                   <div id="footerContacto"> <a href="Contacto"><i  class="fa-solid fa-envelope" ></i> <a href="Contacto" id="footerTelefono">Contacto</a></div></a>
                   <div class="divTel">    <a href="telefono"> <i class="fa-solid fa-phone"></i> </a>   <a href="telefono" id="footerTelefono">Telefono</a></div>
                   <div id="footerFacebook"><a href="https://www.facebook.com" ></a> <i href="https://www.facebook.com" class="fa-brands fa-facebook"></i><a href="https://www.facebook.com" id="footerTelefono"> Facebook</a></div></a>
                   <div id="footerTwitter"> <a href="https://twitter.com"></a> <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com" id="footerTelefono"> Twitter</a></div></a>
                   <div id="footerSteam">   <a href="https://store.steampowered.com"></a> <i class="fa-brands fa-steam"></i>   <a href="https://store.steampowered.com" id="footerTelefono"> Steam</a></div></a>
                   <div id="footerDiscor">  <a href="https://discord.com/channels/967398240465076304/977699998189887488"></a> <i class="fa-brands fa-discord"></i> <a href="https://discord.com/channels/967398240465076304/977699998189887488" id="footerTelefono"> Discor</a></div></a>
                </div>
            </div>
        </div>
        <div class="legales">
            <p>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia commodi provident, eos nemo sed eum aut </p>
        </div>
    </footer>


        

  


</body>
</html>