<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/WASD Favicon.png">
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/80607bb3d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesRegistro.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav_contenedor">
                <a href="/"><img src="/images/Logo.png" alt="Logo" class="img_logo"></a>
                <h1 class="nav_logo">WASD TECHNOLOGY</h1>
                <label for="menu" class="nav_label">
                    <i class="fas fa-bars fa-2x" style="color: white"></i>
                </label>
                <input type="checkbox" id="menu" class="nav_input">
                <div class="nav_menu">
                    <a href="carrito_de_compras" class="nav_items">Tienda<i class="fas fa-shopping-cart"></i></a>
                    <a href="login" class="nav_items">Login</a>
                    <a href="Registro" class="nav_items">Registro</a>
                    <a href="contacto" class="nav_items">Contacto</a>
                    <a href="buscar" class="nav_items"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <form action="registro.html" method="POST">
        <br>
        <legend><h2>CREA TU CUENTA</h2></legend>
        <br>
        <div class="contenido">
            <label class="textos" for="">
                Correo Electronico:
                <br>
                <input type="email" name="email" id="email" required >
            </label>
        <br>
            <label class="textos" for="">
                Confirma tu Correo:
                <br>
                <input type="email" name="email" id="email" required>
            </label>
        <br>
            <label class="textos" for="">
                Contraseña:
                <br>
                <input type="password" name="password" id="pass" required max="6">
            </label>
        <br>
            <label  class="textos"for="">
                Confirma tu Contraseña:
                <br>
                <input type="password" name="password" id="pass" required pattern="[0-9]{5}">
            </label>
        <br>
            <label  class="textos"for="">
                Nombre de Usuario:
                <br>
                <input type="text" name="user" id="user" required pattern="[0-9]{5}">
            </label>
        <br>
            <label  class="textos"for="">
                Telefono:
                <br>
                <input type="tel" name="telefono" id="tel" required pattern="[0-9]{3}">
            </label>
        <br>
            <div class="terminos">
                <label for="cheack">
                    <input type="radio" name="check" id="cheack"  required>
                    Tengo 18 años o más y estoy de acuerdo con los <a href="#">Terminos</a>
                </label>
                <br><br>
                <label for="">
                    ¿quieres recibir nuestras ofertas en tu email?
                    <input type="radio" name="answer" id="si"><label for="">Si</label>
                    <input type="radio" name="answer" id="no"><label for="">No</label>
                </label>
            </div>
        <br>
        </div>
        <div class="boton">
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>
