.tarjetaEntidad{

    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 130px;
    height: 5cm;
    justify-items: center;
    justify-content:center;
    text-align: center;
    border: #570AB8 1px solid;
    margin: 1%;
    box-shadow: 0 0 15px blue;

}



.detalleEntidadMain{

    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    color: #570AB8;
    font-weight: bold;
    


}

.detalleEntidadSec{

    font-size: 70%;
    font-family: 'Roboto', sans-serif;
    color: #570AB8;
    font-weight: lighter;
    margin: 2%;
    


}

.divisorEntidad{

    border: 0;
    border-top: 2px solid blue;
    width: 50%;


}
