.divContenidoPrincipalConglomerado{

    display: flex;
    flex-direction: column;
    width: 90%;
    justify-items: center;
    justify-content:center;
    text-align: center;
    


}



.UltimosRegistrosConglomerado{

    display: flex;
    flex-direction: row;
}