<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link de css-->
    <link rel="stylesheet" href="/css/stylesCar.css">
    <!--Favicon-->
    <link rel="icon" href="/images/WASD Favicon.png">
    <!--Tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2cd25f2c39.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="widht = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <link rel="stylesheet" href="/css/stylesHome.css">
    <!--Titulo Pestaña-->
    <title>WASD Carrito de Compras</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav_contenedor">
                <a href="/"><img src="/images/Logo.png" alt="Logo" class="img_logo"></a>
                <h1 class="nav_logo">WASD TECHNOLOGY</h1>
                <label for="menu" class="nav_label">
                    <i class="fas fa-bars fa-2x" style="color: white"></i>
                </label>
                <input type="checkbox" id="menu" class="nav_input">
                <div class="nav_menu">
                    <a href="/compra/carrito_de_compras" class="nav_items">Tienda<i class="fas fa-shopping-cart"></i></a>
                    <a href="/usuario/login" class="nav_items">Login</a>
                    <a href="/usuario/registro" class="nav_items">Registro</a>
                    <a href="/producto" class="nav_items">Productos</a>
                    <a href="buscar" class="nav_items"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
    <div class="divCar">
        <h1 class="h1car">Carrito de compras</h1>
        <div class="contenedor">
            <div class="panelcar">
                <div class="productCar">
                    <div>
                        <h3 class="product">Resident Evil 4</h3>
                        <p class="precio">ARS $360</p>
                    </div>
                </div>
                <div class="productCar">
                    <div>
                        <h3 class="product">Figura de accion Monkey D. Luffy Gear 5</h3>
                        <p class="precio">ARS $4000</p>
                    </div>
                </div>
                <div class="productCar"></div>
                <div class="productCar"></div>
                <div class="productCar"></div>
                <div class="productCar"></div>
                <div class="productCar"></div>
            </div>
            <div class="info">
                <div class="precioTotal"></div>
                <div class="total"></div>
                <div class="button">
                    <button type="reset" class="reset">Cancelar</button>
                    <button type="submit" class="submit">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer>
            <div class="footerEncavezado" >
                <A class="footerWasd" href="/views/home.html">WASD</A>
            </div>
            <div class="footerPie">
                <a href="/" >  <img id="footerLogo" src="/images/Logo.png" alt="logo"></a>
                <div class="footerEnlaces">
                   <div id="footerRedes"> <a href="Contacto"><i  class="fa-solid fa-envelope" ></i> <a href="Contacto" id="footerTelefono">Contacto</a></div></a>
                   <div id="footerRedes">    <a href="telefono"> <i class="fa-solid fa-phone"></i> </a>   <a href="telefono" id="footerTelefono">Telefono</a></div>
                   <div id="footerRedes"><a href="https://www.facebook.com" ></a> <i href="https://www.facebook.com" class="fa-brands fa-facebook"></i><a href="https://www.facebook.com" id="footerTelefono"> Facebook</a></div></a>
                   <div id="footerRedes"> <a href="https://twitter.com"></a> <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com" id="footerTelefono"> Twitter</a></div></a>
                   <div id="footerRedes">   <a href="https://store.steampowered.com"></a> <i class="fa-brands fa-steam"></i>   <a href="https://store.steampowered.com" id="footerTelefono"> Steam</a></div></a>
                   <div id="footerRedes">  <a href="https://discord.com/channels/967398240465076304/977699998189887488"></a> <i class="fa-brands fa-discord"></i> <a href="https://discord.com/channels/967398240465076304/977699998189887488" id="footerTelefono"> Discor</a></div></a>
                </div>
            </div>
        <div class="legales">
            <p>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia commodi provident, eos nemo sed eum aut </p>
        </div>
    </footer>
</body>

</html>