<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
    <div class="divCar">
        <h1 class="h1car">Carrito de compras</h1>
        <div class="contenedor">
            <div class="panelcar">
                <div class="productCar">
                    <div>
                        <h3 class="product">Resident Evil 4</h3>
                        <p class="precio">ARS $360</p>
                    </div>
                </div>
                <div class="productCar">
                    <div>
                        <h3 class="product">Figura de accion Monkey D. Luffy Gear 5</h3>
                        <p class="precio">ARS $4000</p>
                    </div>
                </div>
                <div class="productCar"></div>
                <div class="productCar"></div>
                <div class="productCar"></div>
                <div class="productCar"></div>
                <div class="productCar"></div>
            </div>
            <div class="info">
                <div class="precioTotal"></div>
                <div class="total"></div>
                <br>
                <div class="button">
                    <button type="reset" class="cancelar">Cancelar</button>
                </div>
                <br>
                <div class="button">  
                    <button type="submit" class="comprar">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>