<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <video src="/images/videoMain.mp4" controls autoplay muted></video>
        <br>
        <section class="carrusel">
            <h3>Destacados y recomendados</h3>
            <div class="carrusel_contenedor">
                <div class="carrusel_item">
                    <img src="/images/carrusel1.jpg" alt="lol" class="img_carrusel">
                    <h4>Juego 1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="carrusel_item">
                    <img src="/images/carrusel3.jpg" alt="COD" class="img_carrusel">
                    <h4>Juego 2</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="carrusel_item">
                    <img src="/images/carrusel2.jpg" alt="destiny2" class="img_carrusel">
                    <h4>Juego 3</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
        </section>
        <br>
        <h3>Que opinan nuestros clientes</h3>
        <section class="clientes">
            <div class="opinion_cliente">
                <img src="/images/face1.jpg" alt="face1" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
            <div class="opinion_cliente">
                <img src="/images/face2.jpg" alt="face2" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
            <div class="opinion_cliente">
                <img src="/images/face3.jpg" alt="face3" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
        </section>

        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class = "productosEnOferta">

                <div class="encabezadoProductoSec">
    
                    
                    <img class="imagenProducto" src="images/ps5.jpg">
                    
    
                    <h4 class="nombreProdSec">Playstation 5</h4>                
                                   
                    <div class="comboCarritoPrecioSec">    
                        
                        <i class="fas fa-shopping-cart botonCarritoSec"></i>
                        
                        <h4 class="precioProductoSec"> $ 000.000,00</h4>
                    </div>
                </div>
    
                <div class="encabezadoProductoSec">
                    
                    <img class="imagenProducto" src="images/Control_PS5.jpg">
                    
    
                    <h4 class="nombreProdSec">Control PS5</h4>                
                                   
                    <div class="comboCarritoPrecioSec">    
                        
                        <i class="fas fa-shopping-cart botonCarritoSec"></i>
                        
                        <h4 class="precioProductoSec"> $ 000.000,00</h4>
                    </div>
                </div>
    
                <div class="encabezadoProductoSec">
                    
                    <img class="imagenProducto" src="images/farcry6_PS5.jpg">
                    
    
                    <h4 class="nombreProdSec">Far Cry 6 PS5</h4>                
                                   
                    <div class="comboCarritoPrecioSec">    
                        
                        <i class="fas fa-shopping-cart botonCarritoSec"></i>
                        
                        <h4 class="precioProductoSec"> $ 000.000,00</h4>
                    </div>
                </div>
    
                <div class="encabezadoProductoSec">
                    
                    <img class="imagenProducto" src="images/cameraHd_PS5.png">
                    
    
                    <h4 class="nombreProdSec">Camara HD PS5</h4>                
                                   
                    <div class="comboCarritoPrecioSec">    
                        
                        <i class="fas fa-shopping-cart botonCarritoSec"></i>
                        
                        <h4 class="precioProductoSec"> $ 000.000,00</h4>
                    </div>
                </div>
    
                
    
    
    
            </div>
        </section>
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>