<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>
        <video src="/images/videoMain.mp4" controls autoplay muted></video>
        <br>
        <section class="carrusel">
            <h3>Destacados y recomendados</h3>
            <div class="carrusel_contenedor">
                <div class="carrusel_item">
                    <img src="/images/carrusel1.jpg" alt="lol" class="img_carrusel">
                    <h4>Juego 1</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="carrusel_item">
                    <img src="/images/carrusel3.jpg" alt="COD" class="img_carrusel">
                    <h4>Juego 2</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="carrusel_item">
                    <img src="/images/carrusel2.jpg" alt="destiny2" class="img_carrusel">
                    <h4>Juego 3</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
        </section>
        <br>
        <h3>Que opinan nuestros clientes</h3>
        <section class="clientes">
            <div class="opinion_cliente">
                <img src="/images/face1.jpg" alt="face1" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
            <div class="opinion_cliente">
                <img src="/images/face2.jpg" alt="face2" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
            <div class="opinion_cliente">
                <img src="/images/face3.jpg" alt="face3" class="face">
                <div class="opinion">
                    <h4>Nombre</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id animi provident accusamus ducimus
                        iste molestias!</p>
                </div>
            </div>
        </section>

        <section class="ofertas">
            <h3>Ofertas</h3>
            <div class="ofertas_contenedor">
                <div class="oferta">
                    <h4>Oferta 1</h4>
                    <img src="/images/oferta1.jpg" alt="oferta1" class="oferta_img">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="oferta">
                    <h4>Oferta 2</h4>
                    <img src="/images/oferta2.jpg" alt="oferta2" class="oferta_img">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
                <div class="oferta">
                    <h4>Oferta 3</h4>
                    <img src="/images/oferta3.jpg" alt="oferta3" class="oferta_img">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
        </section>
    </main>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>