<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <!--------------------------------------------------------------login-------------------------------------------------------------------------------------------------------------->
    <main> 
        <img src="../public/images/MinecraftFondo.jpg" alt="face1" class="LoginImage">
        <div class="cajaLogin">
            <form id="formLogin" action="/usuario/login" method="post" enctype="multipart/form-data">
            
                <div class="cajaImgUsuario">
                    <!-- <div id= "imgUsuario"><img   src="/images/carrusel1.jpg"</div> -->
                </div>
                <!-------------------------------------------------iniciar secion--------------------------------------------------------------------------------------------------->
                <div class="cajaIniciarSecion">
                    <H1 id="IniciarSecion">Iniciar Sesión</H1>
                </div> 
                <div class="userPass">
                 <!-------------------------------------------------Usuario--------------------------------------------------------------------------------------------------->
                    <div class="cajaUser">
                        <div id="fa-solid01" class="fa-solid fa-user"></div>
                            <label id="IniciarUser"   for="correo"><div id="fa-solid" class="fa-solid fa-user"></div> e-mail:</label>
                                <input  type="text" name="correo" id="correo">
                    </div>
                 <!-------------------------------------------------Contraseña-------------------------------------------------------------------------------------------------->
                <div class="cajaPasswor">
                    <div id="fa-solido01" class="fa-solid fa-lock"></div>
                        <label  id="IniciarUser"   for="pwd"> <div id="fa-solido" class="fa-solid fa-lock"></div> Password:</label>
                            <input  type="password" name="pwd" id="pwd">
                </div>
                
                </div>
                 <!-------------------------------------------------Botones--------------------------------------------------------------------------------------------------->
                <div class="cajaIniciar"> 
                    <p>
                        <button id="botonesLogin" type="submit">Iniciar Sesion</button> 
                    </p>
                    <p>
                         <button id="botonesLogin" type="reset">Borrar</button>   
                    </p>
                </div>
            </form>

        </div>
    </main>
    <!------------------------------------------------------------------------footer------------------------------------------------------------------------------------------------->
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>