<nav class="nav">
    <div class="nav_contenedor">
        <a href="/"><img src="/images/Logo.png" alt="Logo" class="img_logo"></a>
        <h1 class="nav_logo">WASD TECHNOLOGY</h1>
        <label for="menu" class="nav_label">
            <i class="fas fa-bars fa-2x" style="color: white"></i>
        </label>
        <input type="checkbox" id="menu" class="nav_input">
        <div class="nav_menu">
            <a href="/compra/carrito_de_compras" class="nav_items">Tienda<i class="fas fa-shopping-cart"></i></a>
            <a href="/listadoProductos" class="nav_items">Productos</a>
            <a href="buscar" class="nav_items"><i class="fas fa-search"></i></a>
           
            <% if (!locals.isLogged){%> 
           
            <a href="/usuario/login" class="nav_items">Login</a>
            <a href="/usuario/registro" class="nav_items">Registro</a>

            <% }else { %> 
                <a href="/admin/products" class="nav_items">Administrar productos</a>
                <a href="/usuario/perfil" class="nav_items"><img src="/images/avatars/<%= locals.usuarioConectado.avatar %>" class="imagenPerfilNav"></a>  
               
           <% } %>
            
        </div>
    </div>
</nav>