* {
     box-sizing: border-box ;
    
}

/*Tipografia*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 300;
}
/*-----------------------------------------------------------main-----------------------------------------------------------------------*/
main{
    display: flex;
    justify-content: center;
    padding-top:5px ;
}

.cajaLogin{
    
    position: relative;
    margin: 1% solid black;
    border: black 3px solid;
    
}
#imgUsuario{
    display: flex;
    justify-content: center;
    width: 10%;

}
.cajaImgUsuario{
    padding: 25vw;
    background-attachment: scroll;
    background-size: 180%;
    border-radius: 50vw;
    background-image: url('/images/carrusel3.jpg');
}
#fa-solid01{
    color: white;
    background-color: #570AB8;
    padding: 3px;
    border-radius: 5px;
}
#fa-solido01{
    color:white;
    background-color: #570AB8;
    padding: 3px;
    border-radius: 5px;
}

#IniciarUser{
    display: none;
}
#password{
    color: white;
}
.cajaUser{
    display:flex;
    flex-wrap:wrap;
    text-align: left;
    display: block;
    padding: 1px;
    margin: 5px;
}
#IniciarSecion{
    text-align: center;
    border-top: solid 5px #570AB8 ;
    border-bottom: solid 5px #570AB8 ;
}
.cajaPasswor{
    display:flex;
    flex-wrap:wrap;
    padding: 1px;
    margin: 5px;
}
.cajaIniciar{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Clave,
#nombre{
    margin: 2px;
}
#botones{
    margin: 10px;
    background-color: #570AB8;
    color: white;
}
#botones:hover{
    background-color: white;
    color: #570AB8;
}
/*-----------------------------------------------------------footer---------------------------------------------------------------------*/

.footerEncavezado{
    text-align: center;
    text-decoration: none;
    position: relative;
    margin: 1px;
    border: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
}
.footerEncavezado::after,.footerEncavezado::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #570AB8;
    
}
.footerEncavezado::after{
    top:3.6em;
    right: 0px;
}
.footerEncavezado::before{
top:-0em;
left: 0px;
}

.footerWasd{
    color: #570AB8;
    font-size: 50px;
    font-weight: 1000;
    text-decoration: none;
}
.footerPie{
    align-items: flex-start;
    display: flex;
}
#footerLogo{
    width:30%;
    cursor: pointer;
    min-width:60px;
    border: #570AB8 1 px solid;
    align-self: flex-start;
    max-width: 120px;
}
.footerEnlaces{
    display: flex;
    flex-wrap: wrap;
}
.fa-brands{
    background-color:#570AB8;
    color: white;
    font: weight 700;;
}
#footerContacto{
    cursor: pointer;
    padding: 5px;
    background-color: #570AB8;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    color: white;
    background-image: url('')
}
#footerTelefono{
    color:white;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
}
.fa-solid{
    padding-top:1%;
    color:white;
    background-color: #570AB8;
} 
.divTel{
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    background-color: #570AB8;
    align-items:none;
}
#footerRedes{
    cursor: pointer;
    padding: 5px;
    background-color: #570AB8;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    align-items:flex-start;
}
/*-------------------------------------------------------------------------------------------media------------------------------------------------------------------------------------*/

 @media(min-width:720px){
    .cajaIniciar {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #IniciarUser{
        color: black;
        display: contents;
        font-size: 19px;
        font-weight:1000;
        background-color: #570AB8;
        border:black 3px solid;
    }
    #footerLogo{
        max-width:120px;
        align-self:flex-start;
    }
    .footerPie{
        display: flex;
        flex-wrap: wrap;
        margin: 1%;
    }
     .footerEnlaces{
        display: flex;
        justify-content: center; 
    } 
    #fa-solid{
        color: white;
        background-color: #570AB8;
        padding: 3px;
        border-radius: 5px;
    }
    #fa-solido{
        color:white;
        background-color: #570AB8;
        padding: 3px;
        border-radius: 5px;
    }
    #fa-solid01{
        display: none;
    }
    #fa-solido01{
        display: none;
    }
} 